.section6{
    padding: 100px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    .container{
        .section61{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 100px;
            .top {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 10px;
                text-align: center;
                .h1{
                    width: 100%;
                    h1{
                        font-size: 40px;
                    }
                }
    
                .p {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }
            i{
                color: orangered;
            }
            .point-1{
                display: flex;
                gap: 10px;
            
            }
            .bottom{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 30px;
                width: 100%;
                div{
                    border: 1px solid orange;
                    padding: 30px 60px;
                    border-radius: 2px;
                    width: 16%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    img{
                        width: 100%;
                        object-fit: cover;
                        transition: all 0.5s ease;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width:1200px){

.section6{

    .container{
        .section61{
            .bottom{
                width: 100%;
                .item1,.item2{
                    display: none;
                }
                .item3,.item4,.item5,.item6{
                    width: 25%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all 0.5s ease;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}


}
@media screen and (max-width:991px){

    .section6{
    
        .container{
            .section61{
                .bottom{
                    width: 100%;
                    .item1,.item2,.item3{
                        display: none;
                    }
                    .item4,.item5,.item6{
                        width: 33%;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: all 0.5s ease;
                            &:hover{
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
    
    
    }

    @media screen and (max-width:891px){

        .section6{
        
            .container{
                .section61{
                    .bottom{
                        width: 100%;
                        .item1,.item2,.item3{
                            display: none;
                        }
                        .item4,.item5,.item6{
                            width: 33%;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                transition: all 0.5s ease;
                                &:hover{
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                }
            }
        }
        
        
        }

        @media screen and (max-width:791px){

            .section6{
            
                .container{
                    .section61{
                        .bottom{
                            width: 100%;
                            .item1,.item2,.item3{
                                display: none;
                            }
                            .item4,.item5,.item6{
                                width: 33%;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    transition: all 0.5s ease;
                                    &:hover{
                                        transform: scale(1.1);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            
            }
            @media screen and (max-width:691px){

                .section6{
                
                    .container{
                        .section61{
                            .bottom{
                                width: 100%;
                                .item1,.item2,.item3{
                                    display: none;
                                }
                                .item4,.item5,.item6{
                                    width: 33%;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        transition: all 0.5s ease;
                                        &:hover{
                                            transform: scale(1.1);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                
                
                }

@media screen and (max-width:571px){

    .section6{
    
        .container{
            .section61{
                .bottom{
                    width: 100%;
                    .item1,.item2,.item3,.item4,.item5{
                        display: none;
                    }
                    .item6{
                        width:100%;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: all 0.5s ease;
                            &:hover{
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
    
    
    }