* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 100px;
}

.nav nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 22px 0;
}
.nav nav .menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  list-style: none;
}
.nav nav .menu li {
  position: relative;
  padding: 12px 0;
}
.nav nav .menu li a {
  text-decoration: none;
  font-size: 13px;
  color: black;
  transition: all 0.4s ease;
}
.nav nav .menu li a:hover {
  color: orange;
}
.nav nav .icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: none;
}
.nav nav .icon i {
  font-size: 35px;
  display: none;
}

.contact-btn button {
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background: orangered;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.contact-btn button::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-110%, -50%);
  width: 50%;
  height: 100%;
  background: #000;
  transition: 0.5s;
}
.contact-btn button::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(110%, -50%);
  width: 50%;
  height: 100%;
  background: black;
  transition: 0.5s;
}
.contact-btn button:hover {
  color: orangered;
}
.contact-btn button:hover::after {
  transform: translate(0, -50%);
}
.contact-btn button:hover::before {
  transform: translate(0, -50%);
}

.dropdown .dropdown-menu {
  background: white;
  position: absolute;
  width: 160px;
  padding: 12px 15px;
  list-style: none;
  left: 0;
  top: 50px;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 12;
}
.dropdown:hover .dropdown-menu {
  opacity: 1;
}

.about1 {
  background-color: wheat;
  position: relative;
}
.about1 .part {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 6%;
}
.about1 .part img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about1 .wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.about1 .wrapp .text {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}
.about1 .wrapp .text .about2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.about1 .wrapp .text .about2 span {
  color: #484747;
  font-size: 18px;
}
.about1 .wrapp .text .info h1 {
  font-size: 58px;
  line-height: 70px;
}
.about1 .wrapp .text .info h1 span {
  font-size: 63px;
  color: orangered;
  font-weight: 700;
  overflow: hidden;
  border-right: solid 2.5px black;
}
.about1 .wrapp .text p {
  color: #484747;
  font-size: 18px;
}
.about1 .wrapp .img1 {
  position: relative;
  width: 50%;
  z-index: 10;
}
.about1 .wrapp .img1 .img11 {
  width: 90%;
  height: auto;
  z-index: 1;
}
.about1 .wrapp .img1 .shape {
  width: 95%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

@media screen and (max-width: 991px) {
  .about1 .wrapp {
    flex-direction: column-reverse;
  }
  .about1 .wrapp .text {
    width: 100%;
  }
  .about1 .wrapp .img1 {
    width: 100%;
  }
  .about .nav nav .contact-btn button {
    background-color: transparent;
    color: rgb(21, 20, 20);
  }
}
@media screen and (max-width: 767px) {
  .about {
    background-color: wheat;
  }
  .about .nav {
    background-color: wheat;
  }
  .about .nav nav {
    background-color: wheat;
  }
  .about .nav nav i {
    font-size: 35px;
  }
  .about .nav nav .menu {
    display: none;
  }
  .about .nav nav .contact-btn {
    display: none;
  }
  .about .nav nav .icon {
    display: inline;
  }
  .about .nav nav .icon i {
    display: inline;
  }
}
section {
  width: 100%;
  padding: 80px 0;
}
section .section-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
section .section-1 .left {
  width: 50%;
  height: auto;
  position: relative;
}
section .section-1 .left::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
}
section .section-1 .left::after:hover::after {
  opacity: 1;
}
section .section-1 .left img {
  width: 100%;
  height: auto;
  transition: all 0.5s ease;
}
section .right {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60px;
}
section .right .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
section .right .text .about2 span {
  color: #484747;
  font-size: 15px;
}
section .right .text .info h1 {
  font-size: 40px;
}
section .right .text p {
  font-size: 15px;
  color: grey;
  line-height: 1.7em;
}
section .right .tick {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section .right .tick .left1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 49%;
}
section .right .tick .left1 .img {
  width: 25%;
}
section .right .tick .left1 .img img {
  width: 90%;
}
section .right .tick .left1 .text1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 72%;
}
section .right .tick .left1 .text1 h1 {
  font-size: 20px;
  font-weight: 200;
}
section .right .tick .left1 .text1 span {
  color: orangered;
  font-weight: 700;
  font-size: 23px;
}
section .right .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
section .right .grid p {
  font-size: 15px;
  display: flex;
  gap: 10px;
}
section .right .grid p i {
  color: orange;
}

@media screen and (max-width: 1300px) {
  section .section-1 .left {
    width: 70%;
  }
  section .section-1 .left img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 1200px) {
  section .section-1 .left {
    width: 70%;
  }
  section .section-1 .left img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 1100px) {
  section .section-1 .left {
    width: 70%;
  }
  section .section-1 .left img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 991px) {
  section .section-1 {
    flex-direction: column;
  }
  section .section-1 .left {
    width: 100%;
  }
  section .section-1 .left img {
    width: 100%;
    height: auto;
  }
  section .section-1 .right {
    width: 100%;
  }
  section .section-1 .right .tick .left1 {
    width: 100%;
  }
}
@media screen and (max-width: 551px) {
  section .section-1 {
    flex-direction: column;
  }
  section .section-1 .left {
    width: 100%;
  }
  section .section-1 .left img {
    width: 100%;
    height: auto;
  }
  section .section-1 .right {
    width: 100%;
    flex-direction: column;
  }
  section .section-1 .right .tick {
    flex-direction: column;
  }
  section .section-1 .right .tick .left1 {
    width: 100%;
  }
  section .section-1 .right .grid {
    display: flex;
    flex-direction: column;
  }
}
header {
  width: 100%;
  padding: 50px 0;
}
header .header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
header .header .top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
header .header .top .h1 {
  width: 100%;
  text-align: center;
}
header .header .top .h1 h1 {
  font-size: 40px;
}
header .header .top .p {
  display: flex;
  align-items: center;
  gap: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.grid .right1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding: 50px;
  transition: all 0.5s;
  border: 1px solid rgb(248, 235, 210);
}
.grid .right1:hover {
  background-color: rgb(248, 235, 210);
}
.grid .right1 .img img {
  width: 55px;
  height: 55px;
}
.grid .right1 .text1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1.7em;
  width: 100%;
}
.grid .right1 .text1 h3 {
  font-weight: 900;
}
.grid .right1 .text1 p {
  font-size: 16px;
  color: gray;
}

@media screen and (max-width: 991px) {
  header .container .header .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  header .container .header .grid .right1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 50px 30px;
    transition: all 0.5s;
    border: 1px solid rgb(248, 235, 210);
  }
  header .container .header .grid .right1:hover {
    background-color: rgb(248, 235, 210);
  }
  header .container .header .grid .right1 .img img {
    width: 55px;
    height: 55px;
  }
  header .container .header .grid .right1 .text1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1.7em;
    width: 274px;
    height: 81px;
  }
  header .container .header .grid .right1 .text1 p {
    font-size: 15px;
  }
}
@media screen and (max-width: 576px) {
  header .container .header .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  header .container .header .grid .right1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 50px;
    transition: all 0.5s;
    border: 1px solid rgb(248, 235, 210);
    width: 100%;
  }
  header .container .header .grid .right1:hover {
    background-color: rgb(248, 235, 210);
  }
}
.section2 {
  padding: 100px 0px;
  background-color: rgb(250, 234, 218);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section2 .container .section21 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.section2 .container .section21 .top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.section2 .container .section21 .top .h1 {
  width: 100%;
}
.section2 .container .section21 .top .h1 h1 {
  font-size: 40px;
}
.section2 .container .section21 .top .p {
  display: flex;
  align-items: center;
  gap: 5px;
}
.section2 .container .section21 .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section2 .container .section21 .bottom .top1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.section2 .container .section21 .bottom .top1 .right {
  display: flex;
  background-color: aqua;
  width: 100%;
}

section {
  width: 100%;
  padding: 50px 0;
}
section .section-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
section .section-3 i {
  color: orangered;
}
section .section-3 .point-1 {
  display: flex;
  gap: 10px;
}
section .section-3 .top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
section .section-3 .top .h1 {
  width: 100%;
}
section .section-3 .top .h1 h1 {
  font-size: 40px;
}
section .section-3 .top .p {
  display: flex;
  align-items: center;
  gap: 5px;
}
section .section-3 .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
}
section .section-3 .bottom .image, section .section-3 .bottom .image2, section .section-3 .bottom .image3 {
  background-color: rgb(250, 243, 237);
  padding: 40px;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
section .section-3 .bottom .image .h4, section .section-3 .bottom .image2 .h4, section .section-3 .bottom .image3 .h4 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}
section .section-3 .bottom .image .text2 p, section .section-3 .bottom .image2 .text2 p, section .section-3 .bottom .image3 .text2 p {
  font-size: 15px;
  line-height: 1.7em;
}

@media screen and (max-width: 991px) {
  section .section-3 .top .h1 {
    width: 100%;
  }
  section .section-3 .bottom .image3 {
    display: none;
  }
  section .section-3 .bottom .image, section .section-3 .bottom .image2 {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  section .section-3 .top .h1 {
    width: 100%;
    text-align: center;
  }
  section .section-3 .bottom .image3, section .section-3 .bottom .image2 {
    display: none;
  }
  section .section-3 .bottom .image {
    width: 100%;
  }
  section .section-3 .bottom .image .h4 .text1 {
    width: 100%;
  }
  section .section-3 .bottom .image .text2 {
    width: 100%;
  }
}
.section5 {
  padding: 100px 0px;
  background-color: white;
}
.section5 .container .top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.section5 .container .top .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  text-align: center;
}
.section5 .container .top .menu p {
  font-size: 15px;
  transition: 0.5s ease;
  color: gray;
}
.section5 .container .top .menu p:hover {
  color: orange;
}
.section5 .container .top .top1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}
.section5 .container .top .top1 .h1 {
  width: 100%;
}
.section5 .container .top .top1 .h1 h1 {
  font-size: 40px;
}
.section5 .container .top .top1 .p {
  display: flex;
  align-items: center;
  gap: 5px;
}
.section5 .container .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
.section5 .container .grid div {
  overflow: hidden;
  border-radius: 10px;
}
.section5 .container .grid .grid-item1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.section5 .container .grid .grid-item1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section5 .container .grid .grid-item2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.section5 .container .grid .grid-item2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section5 .container .grid .grid-item3 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.section5 .container .grid .grid-item3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section5 .container .grid .grid-item4 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.section5 .container .grid .grid-item4 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section5 .container .grid .grid-item5 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.section5 .container .grid .grid-item5 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section5 .container .grid .grid-item6 {
  grid-column: 3/4;
  grid-row: 2/3;
}
.section5 .container .grid .grid-item6 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section5 .container .grid .grid-item7 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.section5 .container .grid .grid-item7 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section5 .container .grid .grid-item8 {
  grid-column: 2/4;
  grid-row: 3/4;
}
.section5 .container .grid .grid-item8 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 991px) {
  .section5 .container .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .section5 .container .grid .grid-item1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .section5 .container .grid .grid-item1 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section5 .container .grid .grid-item2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .section5 .container .grid .grid-item2 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section5 .container .grid .grid-item3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .section5 .container .grid .grid-item3 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section5 .container .grid .grid-item4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .section5 .container .grid .grid-item4 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section5 .container .grid .grid-item5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .section5 .container .grid .grid-item5 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section5 .container .grid .grid-item6 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .section5 .container .grid .grid-item6 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section5 .container .grid .grid-item7 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .section5 .container .grid .grid-item7 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section5 .container .grid .grid-item8 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .section5 .container .grid .grid-item8 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 551px) {
  .section5 .container .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  .section5 .container .grid .grid-item1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .section5 .container .grid .grid-item1 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section5 .container .grid .grid-item2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .section5 .container .grid .grid-item2 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section5 .container .grid .grid-item3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .section5 .container .grid .grid-item3 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section5 .container .grid .grid-item4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .section5 .container .grid .grid-item4 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section5 .container .grid .grid-item5 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .section5 .container .grid .grid-item5 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section5 .container .grid .grid-item6 {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .section5 .container .grid .grid-item6 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section5 .container .grid .grid-item7 {
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .section5 .container .grid .grid-item7 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section5 .container .grid .grid-item8 {
    grid-column: 1/2;
    grid-row: 8/9;
  }
  .section5 .container .grid .grid-item8 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.section6 {
  padding: 100px 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section6 .container .section61 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
.section6 .container .section61 .top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.section6 .container .section61 .top .h1 {
  width: 100%;
}
.section6 .container .section61 .top .h1 h1 {
  font-size: 40px;
}
.section6 .container .section61 .top .p {
  display: flex;
  align-items: center;
  gap: 5px;
}
.section6 .container .section61 i {
  color: orangered;
}
.section6 .container .section61 .point-1 {
  display: flex;
  gap: 10px;
}
.section6 .container .section61 .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}
.section6 .container .section61 .bottom div {
  border: 1px solid orange;
  padding: 30px 60px;
  border-radius: 2px;
  width: 16%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.section6 .container .section61 .bottom div img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s ease;
}
.section6 .container .section61 .bottom div img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
  .section6 .container .section61 .bottom {
    width: 100%;
  }
  .section6 .container .section61 .bottom .item1, .section6 .container .section61 .bottom .item2 {
    display: none;
  }
  .section6 .container .section61 .bottom .item3, .section6 .container .section61 .bottom .item4, .section6 .container .section61 .bottom .item5, .section6 .container .section61 .bottom .item6 {
    width: 25%;
  }
  .section6 .container .section61 .bottom .item3 img, .section6 .container .section61 .bottom .item4 img, .section6 .container .section61 .bottom .item5 img, .section6 .container .section61 .bottom .item6 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.5s ease;
  }
  .section6 .container .section61 .bottom .item3 img:hover, .section6 .container .section61 .bottom .item4 img:hover, .section6 .container .section61 .bottom .item5 img:hover, .section6 .container .section61 .bottom .item6 img:hover {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 991px) {
  .section6 .container .section61 .bottom {
    width: 100%;
  }
  .section6 .container .section61 .bottom .item1, .section6 .container .section61 .bottom .item2, .section6 .container .section61 .bottom .item3 {
    display: none;
  }
  .section6 .container .section61 .bottom .item4, .section6 .container .section61 .bottom .item5, .section6 .container .section61 .bottom .item6 {
    width: 33%;
  }
  .section6 .container .section61 .bottom .item4 img, .section6 .container .section61 .bottom .item5 img, .section6 .container .section61 .bottom .item6 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.5s ease;
  }
  .section6 .container .section61 .bottom .item4 img:hover, .section6 .container .section61 .bottom .item5 img:hover, .section6 .container .section61 .bottom .item6 img:hover {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 891px) {
  .section6 .container .section61 .bottom {
    width: 100%;
  }
  .section6 .container .section61 .bottom .item1, .section6 .container .section61 .bottom .item2, .section6 .container .section61 .bottom .item3 {
    display: none;
  }
  .section6 .container .section61 .bottom .item4, .section6 .container .section61 .bottom .item5, .section6 .container .section61 .bottom .item6 {
    width: 33%;
  }
  .section6 .container .section61 .bottom .item4 img, .section6 .container .section61 .bottom .item5 img, .section6 .container .section61 .bottom .item6 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.5s ease;
  }
  .section6 .container .section61 .bottom .item4 img:hover, .section6 .container .section61 .bottom .item5 img:hover, .section6 .container .section61 .bottom .item6 img:hover {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 791px) {
  .section6 .container .section61 .bottom {
    width: 100%;
  }
  .section6 .container .section61 .bottom .item1, .section6 .container .section61 .bottom .item2, .section6 .container .section61 .bottom .item3 {
    display: none;
  }
  .section6 .container .section61 .bottom .item4, .section6 .container .section61 .bottom .item5, .section6 .container .section61 .bottom .item6 {
    width: 33%;
  }
  .section6 .container .section61 .bottom .item4 img, .section6 .container .section61 .bottom .item5 img, .section6 .container .section61 .bottom .item6 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.5s ease;
  }
  .section6 .container .section61 .bottom .item4 img:hover, .section6 .container .section61 .bottom .item5 img:hover, .section6 .container .section61 .bottom .item6 img:hover {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 691px) {
  .section6 .container .section61 .bottom {
    width: 100%;
  }
  .section6 .container .section61 .bottom .item1, .section6 .container .section61 .bottom .item2, .section6 .container .section61 .bottom .item3 {
    display: none;
  }
  .section6 .container .section61 .bottom .item4, .section6 .container .section61 .bottom .item5, .section6 .container .section61 .bottom .item6 {
    width: 33%;
  }
  .section6 .container .section61 .bottom .item4 img, .section6 .container .section61 .bottom .item5 img, .section6 .container .section61 .bottom .item6 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.5s ease;
  }
  .section6 .container .section61 .bottom .item4 img:hover, .section6 .container .section61 .bottom .item5 img:hover, .section6 .container .section61 .bottom .item6 img:hover {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 571px) {
  .section6 .container .section61 .bottom {
    width: 100%;
  }
  .section6 .container .section61 .bottom .item1, .section6 .container .section61 .bottom .item2, .section6 .container .section61 .bottom .item3, .section6 .container .section61 .bottom .item4, .section6 .container .section61 .bottom .item5 {
    display: none;
  }
  .section6 .container .section61 .bottom .item6 {
    width: 100%;
  }
  .section6 .container .section61 .bottom .item6 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.5s ease;
  }
  .section6 .container .section61 .bottom .item6 img:hover {
    transform: scale(1.1);
  }
}/*# sourceMappingURL=style.css.map */